.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.galleryAndBookingContainer {
  display: inline-flex;
  margin: 2% auto;
}

#itinerary {
  margin: 0 auto;
}